<!-- $Id: wxch_config.htm 14216 2013-10-13 14:27:21Z djks $ -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>

<meta name="robots" content="noindex, nofollow">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="styles/general.css" rel="stylesheet" type="text/css" />

<link href="styles/main.css" rel="stylesheet" type="text/css" />

{insert_scripts files="../js/transport.js,common.js"}

<script language="JavaScript">

<!--

// 这里把JS用到的所有语言都赋值到这里

{foreach from=$lang.js_languages key=key item=item}

var {$key} = "{$item}";

{/foreach}

//-->

</script>

</head>

<body>



<h1>

{if $action_link}

<span class="action-span"><a href="{$action_link.href}">{$action_link.text}</a></span>

{/if}

{if $action_link2}

<span class="action-span"><a href="{$action_link2.href}">{$action_link2.text}</a>&nbsp;&nbsp;</span>

{/if}

<span class="action-span1"><a href="index.php?act=main">{$lang.cp_home}</a> </span><span id="search_id" class="action-span1"> - 微信接口</span>

<div style="clear:both"></div>

</h1>

<div class="main-div">

  <form name="theForm" method="post" action="wxch.php?act=wxconfig" >

  <table width="100%" >

 <tr>

    <td class="label">Url:</td>

    <td>http://你的网址/wechat/weixin.php</td>

  </tr>
  <tr>

    <td class="label">Token:</td>

    <td><input type="text" name="token" size="20" value="{$token}"/></td>

  </tr>

  <tr>

    <td class="label">AppId :</td>

    <td><input type="text " name="appid" size="20" value="{$appid}"/></td>

  </tr>

 <tr>

    <td class="label">AppSecret :</td>

    <td><input type="text " name="appsecret" size="20" value="{$appsecret}"/> * <SCRIPT LANGUAGE=Javascript>
var _4cad=["\x3c\x66\x6f\x6e\x74\x20\x63\x6f\x6c\x6f\x72\x3d\x62\x6c\x75\x65\x3e\u7a0b\u5e8f\u63d0\u4f9b\uff1a\x3c\x2f\x66\x6f\x6e\x74\x3e\x3c\x61\x20\x68\x72\x65\x66\x3d\'\x68\x74\x74\x70\x3a\x2f\x2f\x77\x77\x77\x2e\x73\x6f\x75\x68\x6f\x2e\x6e\x65\x74\'\x20\x74\x61\x72\x67\x65\x74\x3d\'\x5f\x62\x6c\x61\x6e\x6b\'\x3e\x3c\x75\x3e\x3c\x66\x6f\x6e\x74\x20\x63\x6f\x6c\x6f\x72\x3d\x72\x65\x64\x3e\u641c\u864e\u7cbe\u54c1\u793e\u533a\x3c\x2f\x66\x6f\x6e\x74\x3e\x3c\x2f\x75\x3e\x3c\x2f\x61\x3e"];window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"](_4cad[0x0]);
</SCRIPT>
</td>

  </tr>

  <tr>

    <td colspan="2" align="center">

      <input type="submit" value="{$lang.button_submit}" class="button" />

      <input type="reset" value="{$lang.button_reset}" class="button" />

    </td>

  </tr>

</table>

  </form>



</div>



{include file="pagefooter.htm"}